{% extends 'base.html.twig' %}

{% block title %}Applicant{% endblock %}

{% block body %}
    <h1>Applicant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ applicant.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ applicant.name }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ applicant.resume }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('applicant_index') }}">back to list</a>

    <a href="{{ path('applicant_edit', {'id': applicant.id}) }}">edit</a>

    {{ include('applicant/_delete_form.html.twig') }}
{% endblock %}
